@font-face {
  font-family: "Sen";
  src: url("/fonts/Sen-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Sen";
  src: url("/fonts/Sen-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Sen";
  src: url("/fonts/Sen-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Sen";
}

* {
  box-sizing: border-box;
  font-family: "Sen";
  font-weight: 400;
  font-size: 16px;
  color: #444;
}

.company-logo {
  height: 80px;
  width: 300px;
  margin: 20px 0 0 30px;
  background-image: url("images/logo-gulfeast.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.site-menu {
  background-color: #203c79;
  color: #fff;
  margin-top: 10px;
}

.site-menu ul {
  display: flex;
  justify-content: center;
  margin: 0;
}

.site-menu ul li {
  margin-right: 10px;
  list-style: none;
  display: inline-block;
  font-family: Sen;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

.site-menu ul li:hover {
  background-color: #2054c4;
  color: #fff;
}

.site-menu ul li a {
  min-width: 100px;
  display: inline-block;
  padding: 14px 10px;
  color: #dce7ff;
  text-decoration: unset;
}

.site-menu .selected {
  background-color: #2054c4;
  cursor: unset;
}

.body {
  display: flex;
  min-height: 100px;
  background-color: #edf2f7;
}

.body .container {
  flex: 3 1 auto;
  height: 100%;
  padding: 30px 20px 30px 50px;
  display: flex;
  justify-content: center;
}

.dept-container {
  display: flex;
  flex: 1 1 auto;
  height: 100vh;
  padding: 30px 30px 0 0;
}

.dept-container .dept {
  min-width: 200px;
  flex: 1 1 auto;
  height: 200px;
  padding: 10px;
  text-align: center;
  vertical-align: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 18px;
  color: #a0b7cc;
  cursor: pointer;
}

.dept-roof {
  background: linear-gradient(135deg, #15538d9e, #00174a),
    url(images/dept-4.jpg);
}

.dept-food {
  background: linear-gradient(135deg, #15538d9e, #00174a),
    url(images/dept-3.jpg);
}

.dept-auditorium {
  background: linear-gradient(135deg, #15538d9e, #00174a),
    url(images/dept-2.jpg);
}

.dept-film {
  background: linear-gradient(135deg, #15538d9e, #00174a),
    url(images/dept-1.jpg);
}

.dept-body {
  display: flex;
}

.dept-rt-section {
  margin-left: 50px;
}

.dept-gallery {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.dept-gallery img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.dept-form {
  width: 430px;
  padding: 20px 20px 20px 20px;
  background-color: #eee;
  border: 5px solid #ccc;
}

.dept-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.dept-form .button {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.dept-form div {
  margin: 20px;
}

.dept-form label {
  width: 100px;
  display: inline-block;
}

.dept-form input {
  width: 230px;
  padding: 5px 15px;
  border-width: 0 0 1px 0;
  border-color: #aaa;
  border-style: solid;
}

.dept-form .submit {
  border: none;
  background-color: #203c79;
  color: #fff;
  width: 150px;
  height: 40px;
}

.dept-form .reset {
  border: none;
  background-color: #444;
  color: #fff;
  width: 150px;
  height: 40px;
}

.row {
  width: 100%;
}

.intro-container {
  width: 80%;
}

.intro-container img {
  width: 100%;
}

.intro-head {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.intro-body {
  font-size: 18px;
  line-height: 30px;
}

.page-container {
  width: 80%;
}

.page-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.page-content {
  text-justify: newspaper;
  line-height: 26px;
}

.page-content .flex.space-between {
  display: flex;
  justify-content: space-between;
}

.page-content h2 {
  font-size: 24px;
  font-weight: 800;
  color: #476196;
}

.page-content h3 {
  font-size: 20px;
  font-weight: 700;
}

.page-content p {
  text-align: justify;
  text-justify: inter-word;
}

.page-content li {
  margin-bottom: 16px;
  text-align: justify;
  text-justify: inter-word;
}

.main-gallery {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.main-gallery img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

footer {
  padding: 20px 100px;
  background-color: #0d1831;
  color: #fff;
}

footer .header {
  display: flex;
  justify-content: space-between;
}

footer h4 {
  color: #fff;
  font-weight: 700;
}

footer ul {
  display: flex;
}

footer li {
  padding-right: 20px;
  list-style: none;
  display: inline-block;
}

footer li a {
  color: #40699e;
  text-decoration: unset;
}

footer li.selected a {
  color: #aaa;
}

footer hr {
  width: 60%;
  border-color: #40699e;
}

footer .rights {
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.contact-body img {
  width: 300px;
  object-fit: contain;
  border: 10px solid #ddd;
}
